# Node.js backend
node_modules/
.env

# Android project
.gradle/
.idea/
*.iml
local.properties
*.apk
*.keystore
build/
app/build/

# Firebase
google-services.json
firebase-adminsdk*.json
firebase-service-account.json
firebase-service-account*.json

# OS
.DS_Store
Thumbs.db
